/*@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);*/
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic");
/*@import url('http://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('http://fonts.googleapis.com/css?family=Indie+Flower');*/
@import url("http://maloweb.com/otama/stylesheet.css");
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga", "dlig", "frac";
}
html {
  background-position: 3px 3px;
  padding: 2.22475em;
  font-size: 16px;
  line-height: 1.375em;
  background-size: 100% 1.375em;
  color: rgba(0,0,0,0.9);
}
/*big screens
html{
  font-size:20px;
  line-height:1.4em;
  background-size:100% 1.4em;
}
*/
body {
  margin: 0;
  font-family: "Libre Baskerville", Baskerville, "baskerville_fs", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", serif;
/*
  hinted fonts (only for small text on windows)
  font-family: Georgia;
  font-family:Verdana;
  */
/*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
}
small,
strong,
i,
b,
ins {
  line-height: 1;
}
p,
ul,
ol,
code,
.p {
  padding: 0;
  margin: 0;
  margin-bottom: 1.375em;
}
p {
  hyphens: auto;
  text-align: justify;
}
.short {
  text-align: inherit;
  hyphens: none;
}
ul,
ol {
  padding-left: 1.1em;
}
img {
  width: 100%;
  height: auto;
}
hr {
  border: none;
  border-top: solid 1px;
  margin: 0;
  margin-bottom: 2.75em;
  margin-top: 1.375em;
}
hr.no-top-margin {
  margin-top: 0;
}
/*headings (you should never use > 4 levels of headings)*/
h1,
h2,
h3,
h4 {
  margin: 0;
  position: relative;
  color: rgba(0,0,0,0.85);
}
h1 {
  font-size: 3em;
  line-height: 0.916666666666667em;
  top: -0.02em;
  margin-bottom: 0.458333333333333em;
}
h2 {
  font-size: 2em;
  line-height: 1.375em;
  top: 0.16em;
  margin-bottom: 0.6875em;
}
h3 {
  font-size: 1.5em;
  top: -0.12em;
  margin-bottom: 0.916666666666667em;
}
h4 {
  font-size: 1.25em;
  top: -0.1em;
  margin-bottom: 1.1em;
}
h1 i,
h2 i,
h3 i,
h4 i {
  font-family: "Libre Baskerville", Baskerville, "baskerville_fs", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", serif;
  font-weight: bold;
  position: relative;
  top: 0.1em;
}
a {
  color: #0177a1;
  text-decoration: underline;
  text-decoration-skip: ink;
}
mark {
  background: rgba(255,220,0,0.5);
}
code {
  font-family: "Cutive Mono", monospace;
  font-size: 1em;
/*font-family: Monaco, monospace;*/
  white-space: pre;
  max-width: 100%;
  display: block;
}
ins {
  font-family: 'Indie Flower';
  text-decoration: none;
  color: rgba(17,17,136,0.9);
}
ins.over {
  display: inline-block;
  position: absolute;
  font-size: 0.875em;
  transform: translate(-100%, -0.35em);
}
img {
  display: block;
}
.dropcap:first-letter {
  font-weight: bold;
  float: left;
  font-size: 3.4em;
  margin-top: 0.24em;
  margin-right: 0.15em;
}
.dropcapbig:first-letter {
  font-weight: bold;
  float: left;
  font-size: 5em;
  margin-top: 0.33em;
  margin-right: 0.08em;
  color: rgba(0,0,0,0.85);
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
::selection {
  background: rgba(2,163,194,0.15);
}
form {
  line-height: 2.0625em;
  position: relative;
  bottom: 0.333em;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0 0.6em;
  height: 2.0625em;
  margin: -0.34375em 0;
  line-height: 2.0625em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  vertical-align: middle;
  font-size: 0.875em;
  font-family: "Cutive Mono", monospace;
}
label+input[type] {
  margin-left: 0;
}
/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
  padding: 0.2em 0.5em;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  bottom: 0.1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #129fea;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
select {
/* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}
select[multiple] {
  height: auto;
}
fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.button,
button,
input[type=submit] {
/* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner,
button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*csslint outline-none:false*/
.button,
button,
input[type=submit] {
  font-size: 0.875em;
  font-family: inherit;
  padding: 0 0.6em;
  height: 2.0625em;
  margin: -0.34375em 0;
  line-height: 2.0625em;
  color: #fff;
  border: 1px solid #666;
  background-color: #777;
  text-decoration: none;
  border-radius: 0.3em;
  text-shadow: 0 -0.1em 0 #666, 0 0.1em 0 #888;
}
.button:hover,
button:hover,
input[type=submit]:hover,
.button:focus,
button:focus,
input[type=submit]:focus {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}
.button:focus,
button:focus,
input[type=submit]:focus {
  outline: 0;
}
.button:active,
button:active,
input[type=submit]:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
  border-color: #000 9;
}
table {
  border: none;
  border-spacing: 0;
  margin-bottom: 2.0625em;
  box-shadow: 0 0 0 1px #aaa;
  margin-top: 2.0625em;
}
td,
th {
  padding: 0;
  border: none;
  font-size: 1em;
  padding: 0.6875em 1.2em;
  box-shadow: 1px 0 0 #aaa, 1px 1px 0 #aaa, 0 1px 0 #aaa;
}
.dropcapbig:first-letter,
h1,
h2,
h3,
h4 {
  font-family: otama, 'Abril Fatface';
}
.dropcapbig:first-letter {
  margin-top: 0.29em;
  margin-bottom: 0.1em;
  font-size: 5.4em;
}
h1 {
  font-size: 3.3em;
  line-height: 0.833333333333333em;
  top: 0em;
  margin-bottom: 0.416666666666667em;
}
h2 {
  font-size: 2.2em;
  line-height: 1.25em;
  top: 0.17em;
  margin-bottom: 0.625em;
}
h3 {
  font-size: 1.65em;
  top: -0.07em;
  margin-bottom: 0.833333333333333em;
}
h4 {
  font-size: 1.325em;
  top: -0.06em;
  margin-bottom: 1.037735849056604em;
}
* {
  box-sizing: border-box;
}
.pad {
  padding: 2.22475em;
}
.pad-side {
  padding: 0 2.22475em;
}
.no-pad-top {
  padding-top: 0;
}
.half,
.third,
.fourth,
.two-thirds,
.three-fourths {
  float: left;
}
.half {
  width: 50%;
}
.third {
  width: 33.33%;
}
.two-thirds {
  width: 66.66%;
}
.fourth {
  width: 25%;
}
.three-fourths {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.social {
  position: absolute;
  top: 1em;
  right: 1em;
}
.social a {
  text-decoration: none;
}
.codepen {
  margin-left: 2px;
  position: relative;
  top: 1px;
}
.logo {
  width: 132px;
  margin: 0 auto;
  margin-bottom: 4.4495em;
}
.logo svg {
  width: 132px;
  height: 80px;
  overflow: visible;
  transition: 0.3s;
  opacity: 0.85;
}
.logo path {
  transition: 0.3s;
}
.logo:hover .logo-W {
  transform: translateX(-6px);
}
.logo:hover .logo-M {
  transform: translateX(6px);
}
.logo:active svg {
  transform: rotate(180deg);
}
.fancyborder {
  backgroud: rgba(0,0,0,0.85);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.auto-col {
  column-count: 4;
  column-gap: 4.4495em;
}
.bp1-show,
.bp2-show,
.bp3-show {
  display: none;
}
.bp1-hide,
.bp2-hide,
.bp3-hide {
  display: block;
}
.bp0-hide {
  display: none;
}
.bp0-show {
  display: block;
}
@media (max-width: 1300px) {
  html {
    font-size: 1.230769231vw;
  }
}
@media (max-width: 1138px) {
  html {
    font-size: 1.4vw;
  }
  .bp1-hide {
    display: none;
  }
  .bp1-show {
    display: block;
  }
  li.bp1-show {
    display: list-item;
  }
  .fourth {
    width: 33.33%;
  }
  .auto-col {
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 870px) {
  html {
    font-size: 16px;
  }
  .bp2-show {
    display: block;
  }
  li.bp2-show {
    display: list-item;
  }
  .bp2-hide {
    display: none;
  }
  .fourth {
    width: 50%;
  }
  .auto-col {
    column-count: 2;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 2.133333333vw;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 16px;
  }
  .fourth {
    width: 100%;
  }
  .auto-col {
    column-count: 1;
  }
  p img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  .bp3-show {
    display: block;
  }
  .bp3-hide {
    display: none;
  }
}
@media (max-width: 500px) {
  html {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 4vw;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 4.666vw;
  }
}
