@font-face
  font-family: 'baskerville_fs'
  font-style: normal
	  font-weight: 400
  src: url('Baskerville-Regular-webfont.eot');
  src: url('Baskerville-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('Baskerville-Regular-webfont.woff') format('woff'),url('Baskerville-Regular-webfont.ttf') format('truetype'),url('Baskerville-Regular-webfont.svg#baskerville_fsregular') format('svg')

@font-face
  font-family: 'baskerville_fs'
  src: url('Baskerville-Bold-webfont.eot')
  src: url('Baskerville-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('Baskerville-Bold-webfont.woff') format('woff'),url('Baskerville-Bold-webfont.ttf') format('truetype'),url('Baskerville-Bold-webfont.svg#baskerville_fsbold') format('svg')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'baskerville_fs'
  src: url('Baskerville-Italic-webfont.eot')
  src: url('Baskerville-Italic-webfont.eot?#iefix') format('embedded-opentype'),url('Baskerville-Italic-webfont.woff') format('woff'),url('Baskerville-Italic-webfont.ttf') format('truetype'),url('Baskerville-Italic-webfont.svg#baskerville_fsitalic') format('svg')
  font-weight: 400
  font-style: italic
*
  box-sizing:border-box
  position:relative
  text-rendering:optimizeLegibility
html
  width:100%
  height:100%
  text-align:center
  font-family: Baskerville, 'baskerville_fs', "Baskerville Old Face", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", serif
  color:#333
  line-height:1.5em
body
  margin:0
  padding-bottom:1em
img
  max-width:100%
  border:none
b
  color:#c21400
a
  color:#0186a1
  transition:color .3s
  text-decoration: none
  text-shadow: 0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff,0 0 .05em #fff
  background: linear-gradient(0deg,#fff 0%,#fff 11%,#0186a1 11%,#0186a1 16%,#fff 16%,#fff 100%)
a:hover
  color:#02a3c2
a:active
  color:#c21400
ul
  padding-left:1em
i
  font-variant:italic
  font-weight:300
h1
  margin:0
  position:static
  font-size:0
  text-rendering:auto
  color:transparent
::selection
  background:rgba(2,163,194,.4)
::-moz-selection
  background:rgba(2,163,194,.4)
img.logo
  width:578px
  margin:16px
  margin:1rem 0
address
  padding:.5em 1em
  text-align:right
  position:absolute
  top:0
  right:0
  font-size:2em
  line-height:1.5em
section
  width:25%
  display:inline-block
  padding:0 2em
  vertical-align:top
  text-align:left
p,ul
  margin:0
  margin-top:1.5em
section h2
  margin:0
main
  padding:2em 2em
  display:block
aside h2
  font-size:3em
  margin:.33em 0
  text-align:left
  padding:0 .33em
  display:none
aside
  padding:0 .5em
  margin-top:1.5em
.figcolumn
  width:25%
  display:inline-block
  padding:.5em
  line-height:0
a.fig
  display:inline-block
  overflow:hidden
  color:#fff
  text-shadow:none
  width:100%
  box-shadow:0 1px 5px rgba(0,0,0,.2)
a.fig:before
  content:""
  display:block
  padding-top:50%
figure
  margin:0
  position:absolute
  top:0
  left:0
  width:100%
  height:100%
  background:#000
figure img
	  transition:opacity .3s
	  -webkit-transform:translateZ(1px)
figcaption
  position:absolute
  top:-100%
  left:0
  width:100%
  height:100%
  text-shadow:0 0 5px #000
  	-webkit-transition:all .3s
	  transition:top .3s,opacity .3s
	  padding:1em
  opacity:0
  line-height:1.5em
figure:hover figcaption, figure:focus figcaption
  top:0
  opacity:1
figure:hover img, figure:focus img
  opacity:.4
  -webkit-filter:blur(5px)
@media (max-width:1100px)
    h1
      text-align:left
    .figcolumn, section
      width:50%
    section+section
      border:none
    section
      margin-bottom:1.5em
    html
      font-size:20px

@media (max-width:856px)
	  address
	    position:relative
    text-align:left
    font-size:1em
    padding:1em
    padding-left:4em
    margin-top:-2em
	  h1
	    text-align:center

@media (max-width:740px)
  html
    font-size:16px

@media (max-width:570px)
    .figcolumn, section
      width:100%
    html
      font-size:20px

@media (max-width:500px)
    address
      padding-left:2em
    main
      padding:1em 0

@media (max-width:380px)
	  html
	    font-size:16px